<section class="supply-form">
  <div class="container">
    <div class="row pt-4 d-flex">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Agregar nueva oferta</h2>
            <%= render "supplies/form" %>
          </div>
        </div>
      </div>

      <div class="d-none d-md-block col-md-6 col-lg-6">
        <%= image_tag("rm2.jpg", class: "img-fluid") %>
      </div>
    </div>
  </div>
</section>
